<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body bgcolor="lightgreen">
    <h1>Bookmarks:</h1>
    <ul>
      <% @bookmarks.each do |bookmark| %>
      <li> <a href="<%= bookmark.url %>"> <%= bookmark.title %> </a></li>
      <% end %>
    </ul><br><br>
    <form action="/data" method="post">
      <h2><font face="century gothic"> Add URL: </font></h2>
      <input type="text" font="century gothic" name="url">
      <h2><font face="century gothic"> Add Title: </font></h2>
      <input type="text" font="century gothic" name="title">
      <br><br>
      <input type="submit" font="century gothic" value="Add Bookmark">
    </form>
  </body>
</html>
