<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <center><h1>Bookmarks:</h1></center>
    <center><h2><%=@bookmarks.each { |bookmark| puts bookmark }%></h2></center>


  </body>
</html>
